link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
head
  link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  link(rel='stylesheet', href='../../stylesheets/login.css')
  meta(name='google-site-verification' content='pxOa2Qv7Wq0cQ78SbERxoOVDxJ-XbKHZL8rvLmki3xs')

body#LoginForm
  .container
    .login-form
      .main-div
        .panel
          if info && info.message 
            div.alert.alert-danger
              = info.message
          h2 Admin Login
          p Por favor, ingrese su email and password
        form#Login(action='/login' method='post')
          .form-group
            input#username.form-control(type='email' placeholder='Email Address' name="username")
          .form-group
            input#password.form-control(type='password' placeholder='Password' name="password")
          .forgot
            a(href='/forgotPassword') Olvidé mi password
            br
            a(href='/auth/google') Entrar con Google
            br
            .fb-login-button(data-size='large' data-button-type='continue_with' data-layout='default' data-auto-logout-link='false' data-use-continue-as='false' data-width='')



          button.btn.btn-primary(type='submit') Login

  script.
    window.fbAsyncInit = function() {
    FB.init({
    appId      : '{your-app-id}',
    cookie     : true,
    xfbml      : true,
    version    : '{api-version}'
    });
    FB.AppEvents.logPageView();
    };
    (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  script(async='' defer='' crossorigin='anonymous' src='https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v8.0&appId=338366077220894&autoLogAppEvents=1' nonce='9t1Xcv6S')


